@import "../../sass/mixins.scss";

.profile {
  height: 100% !important;
  width: 100%;
  overflow-y: scroll;
  &__container {
    height: 100% !important;
    padding: 2rem;
    display: flex;
    gap: 10%;
    width: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
  }
  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      margin-bottom: 3rem;
    }
    form {
      margin-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
      .input-group {
        display: flex;
        flex-direction: column;
        width: 20rem;
        margin-bottom: 2rem;
        input {
          color: rgb(75, 75, 75);
        }
        span {
          color: red;
        }
      }
      button {
        @include button;
      }
    }
  }
  &__avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .avatar {
      width: 10rem;
      height: 10rem;
    }
    display: flex;
    gap: 1rem;
    .gender {
      gap: 1rem;
      input,
      label {
        cursor: pointer;
      }
      & > div {
        display: flex;
        gap: 0.5rem;
      }
    }
    &--generate-btn {
      @include button;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 768px) {
  .profile {
    overflow-x: hidden;
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      form {
        .input-group {
          margin: 1rem auto;
          max-width: 90%;
        }
        button {
          margin: 0 auto;
        }
      }
    }
    &__avatar {
      padding-bottom: 2rem;
    }
  }
}

@media (max-width: 425px) {
  .profile {
    &__container {
      padding: 1rem 0;
    }
  }
}
