@import "../../sass/mixins.scss";

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  color: inherit;
  @include form(2.5rem);
  .error {
    color: red;
  }
  &__test{
    line-height: 1.2;
    margin: 1rem;
    max-width: 20rem;
    padding: .5rem;
    &--users{
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      button{
        @include button;
        background-color: #1756a27d;
        &:hover{
          background-color: #1756a2bf;
        }
      }
    }
    & p{
      font-size: .8rem;
      margin-bottom: .5rem;
    }
  }
}

@media (max-width: 1024px) {
  .login-form {
    max-width: 90%;
    
    
    h2 {
      font-size: 2.5rem;
    }
    h4 {
      margin-bottom: 1rem;
    }
    form {
      gap: 1rem;
      button {
        padding: 0.5rem 0;
        width: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
        span:nth-child(2) {
          display: none !important;
        }
        span:nth-child(1) {
          text-align: center;
        }
      }
    }
  }
}
