@import "../../sass/mixins.scss";

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: gray;
  &__content {
    width: 100%;
    height: 100%;
    @include center-content;
  }
  &__image {
    @include center-content;
    min-height: 100%;
    width: 100%;
    background-color: #1755a2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    input {
      width: 20rem;
      border-radius: 20rem;
      border: 1px solid gray;
      padding: 0.5rem 1.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .login-page {
    .input-group {
      gap: 0;
      input {
        width: 15rem;
        padding: 0.2rem 1rem;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 425px) {
  .login-page {
    &__image {
      display: none;
    }
  }
}
