:root {
  --color-primary: #465cc8;
  --color-primary-light: rgb(102, 144, 234);
  --color-accent: #ef7e4c;
  --color-accent-light: #f1956e;
  --color-text: rgb(90, 90, 90);
  --color-background: #f2f5fc;
  --color-shadow: rgba(0, 0, 0, 0.119);
}

$--border: 3px solid var(--color-border);
