@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.messages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;
  @include scrollbar;
  background-color: var(--color-messages-background);
  position: relative;
  &__top {
    .user-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      p {
        text-align: center;
      }
      .avatar {
        height: 10rem;
        width: 10rem;
      }
    }
  }

  &__main {
    overflow-y: scroll;
    height: 100%;
    padding: 0 2rem;
    margin-bottom: 3rem;
    & .loader {
      margin: 2rem auto;
    }
    hr {
      margin: 2rem 0;
    }
  }
  &__list {
    height: 100%;
  }
  &__thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 1rem;
    margin-bottom: 2.5rem;
  }
  .emoji-picker {
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
  }
  .files {
    background-color: var(--color-messages-background);
    cursor: default;
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    & > div {
      padding: 0.2rem 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
    & .remove-btn {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .messages {
    padding-top: 1rem;
    overflow-y: scroll;
    &__main{
      overflow-y:scroll;
      padding: 0 3rem;
    }
    &__top {
      gap: 1rem;
      font-size: 0.9rem !important;
      .user-info {
        gap: 1rem;
        p {
          line-height: 1.2;
        }
        .avatar {
          width: 7rem !important;
          height: 7rem !important;
        }
      }
    }
  }
}
