.fullscreen-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(.1);
    img{
      max-width: 60vw;
      border-radius: 5px;
    }
  }